html {
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0px 40px; 
}

header {
    border-bottom: 2px solid black;
}

nav {
    display: inline-block;
    margin-left: 40px;
}

ul li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

a {
    color: rgb(91 169 117);
    text-decoration: none;
}

.site-title {
    display: inline-block;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 25px;
}